! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled: true
rofi.color-window: argb:e0333333, argb:95ffffff, argb:0bdbdbd
rofi.color-normal: argb:0333333, #ffffff, argb:0eee8d5, argb:b1eb6536, #ffffff
rofi.color-active: argb:0fdf6e3, #57d226, argb:0eee8d5, argb:0268bd2, #ffffff
rofi.color-urgent: argb:0fdf6e3, #dc322f, argb:0eee8d5, argb:0dc322f, #ffffff
